<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="static/favicon.ico">
    <title>Pokedex</title>
</head>
<body>
    <div class="quadrad">
        <form action="/search" method="POST">
            <label for="pokemon">Nome do Pokemon:</label>
            <input type="text" id="pokemon" name="pokemon" placeholder="Ótima aventura!" />
            <button class="btn" type="submit">Pesquisar</button>
        </form>
    </div>
</body>
</html>
